/*
Turn Soylent News from red to green.
Use CSS rounded borders instead of rounded GIFs.
Change background colors.
Change font size and spacing (the font line in body {} is important)

Include this file in Stylish with these two lines in the Stylish editor:

@import "file:///path/to/stylish/soylent-green.css";
@-moz-document url-prefix(http), url-prefix(file) {}

Keep the Stylish window open and click Preview to make it apply your changes.

Thanks to http://snarfed.org/my_stylish_userstyle_workflow for that
*/

@-moz-document domain("soylentnews.org") {
    body {
        background: #EAEAEA;
        font: 14px/1.5 Arial,sans-serif;
    }
    #contents {
        margin: 0 0 0 10.6em;
    }
    #links {
        width: 10em;
    }
    #links h4 {
        background: none;
    }
    #links div.title {
        font-size: 110%;
        background: #B2B2B2;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #links div.content {
        font-size: 90%;
        background: none;
        border-radius: 10px;
    }
    #links div.block {
        background: #ffffff;
        border-radius: 10px;
    }
    #slashboxes {
        background: #EAEAEA;
    }
    #slashboxes h4 {
        font-size: 100%;
        background: none;
    }
    #slashboxes div.title {
        background: #B2B2B2;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #slashboxes div.content {
        background: #ffffff;
        font-size: 90%;
        border-radius: 10px;
    }
    #slashboxes div.block {
        background: #ffffff;
        border-radius: 10px;
    }
    #frame {
       background: #EAEAEA;
    }
    #links {
        background: #EAEAEA;
    }
    .generaltitle {
        background: #004422;
        border-top-left-radius:10px;
        border-top-right-radius:10px
    }
    .generaltitle h3 {
        background: none;
        padding: 0.6em 1.2em;
        font-size: 100%;
    }
    .generaltitle div.title {
        background:none;
    }
    .article {
        background: none;
    }
    .article .body {
	font-size: 90%;
    }
    .article div.title {
        background:none;
    }
    .article .details {
        padding: 0.4em 1em 0.4em 1.3em;
    }
    div.storylinks {
	background: #EEEEEE;
	border: 1px solid #AAAAAA;
	border-top: 0;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    }
    div.storylinks div {
	background:none;
    }
    div.storylinks div ul {
	background:none;
    }
    .intro p {
        font-size: 100%;
    }
    a {
        color: #006600;
    }
    #links a, #links a:visited {
	color: #006600;
    }
    a.begin {
        color: #006600 !important;
    }
    ul.menu a {
        color: #006600 !important;
    }

    .btmnav ul li a {
        color: #006600;
    }
    ul#commentlisting {
        background:white;
    }
    .commentTop {
        background: none;
        border-top-left-radius:10px;
        border-top-right-radius:10px
    }
    .commentTop .title {
        background: none;

    }
    .commentTop .title h4 {
        background: #004422;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        font-size: 110%;

    }
    .commentTop .details a {
        color: #006600;
    }
    .commentBox {
        background: #004422;
    }
    .commentSub {
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px
    }
    .nbutton {
        border-radius: 4px;
    }
    .commentBody {
        font-size:100%;
        line-height:20px;
        padding: 0.3em 1em 0.3em 1em
    }
    #commentlisting {
	font-size: 90%;
    }
    #commentlisting li.comment {
        font-size:100%;
        line-height:26px;
    }
    .commentwrap {
	border-radius: 10px;
    }
    #commentControlBox {
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px
    }
    .data_head {
        background: #006644;
    }
    .barColor {
	background: #006600;
    }
    .comment_footer {
	margin: 0.5em 0;
    }
    #mod_summary {
	padding-bottom: 0.5em;
    }
    #users-blocks {
	margin: 0 24em 0 0;
    }
    div.commentBody blockquote {
	border-left: 2px solid #B2B2B2;
	padding-left: 1em;
    }
    #footer .search input {
	padding:4px;
    }
    input {
	padding: 4px;
    }
}
